#gameContainer {
    position: absolute;
    left: 5vw;
    width: 90vw;
    height: 75vh;
    border: 3px solid black;
}

#menuPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.deckName {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 20%;
    text-align: center;
    height: 60%;
}

.cardSection {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    height: 90%;
    overflow: scroll;
    width: 70%;
}

    .cardSection .cardBody {
        width: 100%;
        height: 100%;
        display: block;
        
    }

    .cardSection .cardContainer {
        display: block;
        position: relative;
        border: 1px solid black;
        height: 45%;
        width: 25%;
        overflow: hidden;
        margin: 15px;
        background: linear-gradient(to bottom, rgba(254,241,216,1) 0%,rgba(253,229,199,1) 100%);
    }


.cardName {
    position: absolute;
    left: 2.5%;
    top: 2.5%;
    width: 95%;
    height: 12%;
    text-align: center;
    border: 1px solid black;
    font-family: Coaster;
    font-size: 60px;
    line-height: 34px;
    background: linear-gradient(to bottom, rgba(255,163,15,0.65) 0%,rgba(255,163,15,0) 100%);
}



.chosenCard {
    display: block;
    position: relative;
    width: 85%;
    user-select: none;
    height: 6%;
    left: 8%;
    text-align: center;
    font-family: Coaster;
    font-size: 68px;
    line-height: 34px;
  
    border: 2px solid black;
    background: linear-gradient(to bottom, rgba(255,163,15,0.65) 0%,rgba(255,163,15,0) 100%);
}



.cardValues {
    position: absolute;
    height: 10%;
    font-family: Coaster;
    font-size: 2vw;
    line-height: 34px;
    width: 100%;
    bottom: 2.5%;
    display: flex;
    justify-content: space-between;
}

.cardValues div {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.cardDescription {
    position: absolute;
    width: 100%;
    top: 70%;
    height: 20%;
    display: block;
    word-wrap: break-word;
    width: 85%;
    left: 7.5%;
    overflow: hidden;
}

.cardImage {
    border: 1px ridge black; 
    width: 85%;
    height: 50%;
    left: 7.5%;
    position: absolute;
    top: 17.5%;
    justify-self: center;
    display: block;
}

    .cardImage img {
        width: 100%;
        height: 100%;
        display: block;
    }

.chosenCards {
    position: relative;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid black;
    width: 30%;
    left: 2px;
    height: 100%;
}

.cardPagination {
    width: 70%;
    height: 10%;
    bottom: 0;
    position: absolute;
}
.goBack {
    display: block;
    position: absolute;
    left: 2.5%;
    height: 60%;
    font-family: Eskargot;
    font-size: 24px;
    top: 20%;
    user-select: none;
    width: 10%;
    border: 1px solid black;
    text-align: center;
}

.saveDeck {
    display: block;
    position: absolute;
    width: 20%;
    height: 60%;
    top: 20%;
    left: 40%;
    border: 1px solid black;
    text-align: center;
    font-family: Eskargot;
    font-size: 24px;
    user-select: none;
}



#deckOverviewPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.getBack {
    display: block;
    position: absolute;
    left: 2.5%;
    height: 8%;
    font-family: Eskargot;
    font-size: 40px;
    line-height: 42px;
    bottom: 9%;
    user-select: none;
    width: 10%;
    border: 1px solid black;
    text-align: center;
}

#deckDetailPage {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#deckCreatePage {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}


.decks {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.deckSelector {
    border: 2px solid black;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    width: 13%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectHeader {
    text-align: center;
    user-select: none;
}

    .selectHeader h1 {
        font-family: Eskargot;
        font-size: 70px;
    }

.createNew {
    width: 20%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    user-select: none;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}

.createNew h1 {
    font-family: Eskargot;
    font-size: 36px;
}

.menuButton {
    border: 1px solid black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 10%;
    top: 50%;
    font-family: Eskargot;
    font-weight: bold;
    font-size: 30px;
    background: #ff7400; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff7400 0%, #ff7400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff7400 0%,#ff7400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff7400 0%,#ff7400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */

}

#playButton {
    top: 50%;
    user-select: none;
}

#decksButton {
    top: 62%;
    user-select: none;
}

#gameLogo {
    user-select: none;
}

.gameLogoText {
    font-family: Coaster;
    font-size: 225px;
    line-height: 75%;
}



@font-face {
    font-family: 'Coaster';
    src: url('coaster_quake.woff2') format('woff2'), url('coaster_quake.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eskargot';
    src: url('Eskargot.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}