/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.card-header {
    background-color: #ff7f50;
}

.btn-info {
    background-color: #ff7f50;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn-palegreen,
.btn-palegreen:focus {
    background-color: #a0d468 !important;
    border-color: #a0d468;
    color: #ffffff;
}

    .btn-palegreen:hover {
        color: #ffffff;
    }

    .btn-palegreen.dropdown-toggle {
        border-left-color: #a6d791 !important;
    }

    .btn-palegreen.active {
        background-color: #74aa5d !important;
        border-color: #699755;
    }

.pink {
    color: #e75b8d !important;
}

    .btn-palegreen.shiny {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5Y2Q1ODQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc0YWE1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
        background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#9cd584), to(#74aa5d));
        background-image: -moz-linear-gradient(linear, left top, left bottom, from(#9cd584), to(#74aa5d));
        background-image: -o-linear-gradient(linear, left top, left bottom, from(#9cd584), to(#74aa5d));
        background-image: linear-gradient(linear, left to bottom, left bottom, from(#9cd584), to(#74aa5d));
    }

    .btn-palegreen:hover,
    .open .btn-palegreen.dropdown-toggle {
        background-color: #9cd584 !important;
        border-color: #9cd584;
        color: #fff;
    }

    .btn-palegreen.disabled,
    .btn-palegreen[disabled],
    fieldset[disabled] .btn-palegreen,
    .btn-palegreen.disabled:hover,
    .btn-palegreen[disabled]:hover,
    fieldset[disabled] .btn-palegreen:hover,
    .btn-palegreen.disabled:focus,
    .btn-palegreen[disabled]:focus,
    fieldset[disabled] .btn-palegreen:focus,
    .btn-palegreen.disabled:active,
    .btn-palegreen[disabled]:active,
    fieldset[disabled] .btn-palegreen:active,
    .btn-palegreen.disabled.active,
    .btn-palegreen[disabled].active,
    fieldset[disabled] .btn-palegreen.active {
        background-color: #a0d468 !important;
        border-color: #a0d468;
        zoom: 1;
        filter: alpha(opacity=50);
        -webkit-opacity: 0.5;
        -moz-opacity: 0.5;
        opacity: 0.5;
    }

#logo {
    position: relative;
    height: 100px;
    width: 100%;
    background: url("../images/MinimalistLogo.png") no-repeat center;
    background-size: contain;
    top: 0px;
}

.topnav {
    background-color: #d2691e;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

#pagecontent {
    margin-top: 20px;
}

.profile-container .profile-header {
    min-height: 175px;
    margin: 15px 15px 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background-color: #f5f5dc;
}

    .profile-container .profile-header .header-avatar {
        width: 125px;
        height: 125px;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        border: 5px solid #f5f5f5;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        margin: 25px auto;
    }

    .profile-container .profile-header .profile-info {
        min-height: 175px;
        border-right: 1px solid #eeeeee;
        padding: 15px 40px 35px 0;
    }

        .profile-container .profile-header .profile-info .header-fullname {
            font: 21px 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica /*rtl:"Droid Arabic Kufi", "WYekan"*/;
            margin-top: 27px;
            display: inline-block;
        }

        .profile-container .profile-header .profile-info .btn-follow {
            position: absolute;
            top: 45px;
            right: 40px;
        }

        .profile-container .profile-header .profile-info .header-information {
            line-height: 23px;
            margin-top: 15px;
            text-align: justify;
        }

    .profile-container .profile-header .profile-stats {
        min-height: 175px;
        border-right: 1px solid #eeeeee;
    }

        .profile-container .profile-header .profile-stats .stats-col {
            margin: 30px 0;
            margin-top: 45px;
            text-align: center;
        }

            .profile-container .profile-header .profile-stats .stats-col:not(:last-child) {
                border-right: 1px solid #eeeeee;
            }

            .profile-container .profile-header .profile-stats .stats-col .stats-value {
                display: block;
                margin: 0 auto;
                text-align: center;
                font-size: 30px;
                font-family: 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica /*rtl:"Droid Arabic Kufi", "WYekan"*/;
            }

            .profile-container .profile-header .profile-stats .stats-col .stats-title {
                display: block;
                margin: 0 auto;
                text-align: center;
            }

        .profile-container .profile-header .profile-stats .inlinestats-col {
            padding-top: 15px;
            text-align: center;
            font-family: 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica /*rtl:"Droid Arabic Kufi", "WYekan"*/;
            border-top: 1px solid #eeeeee;
            min-height: 55px;
        }

            .profile-container .profile-header .profile-stats .inlinestats-col:not(:last-child) {
                border-right: 1px solid #eeeeee;
            }

            .profile-container .profile-header .profile-stats .inlinestats-col i {
                margin-right: 2px;
            }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #cd853f;
    color: black;
}
  
/* Add an active class to highlight the current page */
.active {
    background-color: #bdb76b;
}

.right {
    position: relative;
    float: right !important;
}
  
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0
}

    table.dataTable td, table.dataTable th {
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }

        table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
            text-align: center
        }

    table.dataTable.nowrap th, table.dataTable.nowrap td {
        white-space: nowrap
    }

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left
    }

    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: auto
    }

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        justify-content: flex-end
    }

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 30px
}

table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
    outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        position: absolute;
        bottom: 0.9em;
        display: block;
        opacity: 0.3
    }

    table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
        right: 1em;
        content: "\2191"
    }

    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        right: 0.5em;
        content: "\2193"
    }

    table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
        opacity: 1
    }

    table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        opacity: 0
    }

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

    div.dataTables_scrollBody table thead .sorting:before, div.dataTables_scrollBody table thead .sorting_asc:before, div.dataTables_scrollBody table thead .sorting_desc:before, div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
        display: none
    }

    div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
        border-top: none
    }

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
    box-sizing: content-box
}

    div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
        margin-top: 0 !important;
        border-top: none
    }

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }
}

table.dataTable.table-sm > thead > tr > th {
    padding-right: 20px
}

table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: 0.85em
}

table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
    top: 5px
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0
}

    table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
        border-right-width: 0
    }

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0
}

    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
        padding-left: 0
    }

    div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
        padding-right: 0
    }


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .right {
        float: none !important;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}