@using System.Web.Mvc
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model RealCard.Models.LoginViewModel
}

<h2>@ViewData["msg"]</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Please sign in</h3>
                </div>
                <div class="card-body">
                    <form accept-charset="UTF-8" role="form">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control" name="username" type="text">
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" name="password" type="password" value="Test123!" title="Enter a password here">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" style="margin-top: 10px" type="submit" value="Login" asp-action="Login" formmethod="post">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}