@using RealCard.Core.DAL.Models
@model List<RealCard.Core.DAL.Models.Deck>

<div id="deckOverviewPage">
    <div class="selectHeader"><h1 >Select a Deck</h1></div>
    <div class="decks">
        @foreach (Deck d in Model)
        {
            <div class="deckSelector" data-deck-id="@d.Id">
                @d.Name
            </div>
        }
    </div>
    <div class="buttonContainer">
        <div class="getBack">Back</div>
        <div class="createNew">
            <h1>Create New</h1></div>
    </div>
</div>

<script>
    var dckId;

    $('.deckSelector').click(function () {
        dckId = $(this).data("deck-id");
        $('#gameContainer').load('/Game/GetDeckView?id=' + dckId);
    });

    $('.getBack').click(function() {
        window.location.href = "/game/";
    })

    $('.createNew').click(function() {
        $('#gameContainer').load('/Game/GetDeckCreateView');
    })
</script>
