@model DeckViewModel

<div id="deckCreatePage">
    @Html.AntiForgeryToken();
    <div class="cardSection" id="cardPage">
        @foreach (CardViewModel cvm in Model.Cards)
        {
            <div class="cardContainer" data-card-id="@cvm.Id" data-card-name="@cvm.Name">
                @{ await Html.RenderPartialAsync("_Card", cvm); }
            </div>
        }
    </div>
    <div class="chosenCards">
    </div>
    <div class="cardPagination">
        <div class="goBack">Back</div>
        <div class="createDeck">Create Deck</div>
        <input type="text" required class="deckName" placeholder="Choose deck name"/>
    </div>
</div>

<script src="js/DeckCreate.js"></script>
