
<div id="menuPage" ng-app="menu" ng-controller="menuController">
    <div class="row">
        <div id="gameLogo">
            <h1 class="gameLogoText">Minimalist</h1>
        </div>
    </div>
    <span id="errormsg"></span>
    <div id="playButton" class="menuButton" ng-click="LoadDeckSelect()">Play</div>
    <div id="decksButton" class="menuButton" ng-click="LoadDeckOverview()">Decks</div>
</div>


<script>
    var app = angular.module('menu', []);
    app.controller('menuController', ['$scope', '$http', function ($scope, $http) {
        $scope.LoadDeckOverview = function() {
            $http.get('/Game/GetDeckIndexView').then(
                function(success) {
                    $('#gameContainer').html(success.data);
                },
                function(fail) {
                    $('#errormsg').html("Failed");
                });
        };
        $scope.LoadDeckSelect = function() {
            $http.get('/Game/GetGameDeckSelectView').then(
                function(success) {
                    $('#gameContainer').html(success.data);
                },
                function(fail) {
                    $('#errormsg').html("Failed");
                });
        };
    }]);

</script>