@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Log"]</h1>

@if (User.IsInRole("Player"))
{
    <p>Player</p>
}
@if (User.IsInRole("Moderator"))
{
    <p>Moderator</p>
}
@if (User.IsInRole("Admin"))
{
    <p>Admin</p>
}